{% extends "_layout.html" %}
{% block content %}
<div class="d-inline-flex justify-content-center w-100 h-100">
    <div class='my-5 formContainer d-inline-flex flex-wrap align-items-center'>
        <h3 class="header text-center w-100 mb-4">Sign Up</h3>
        <form action="{{ url_for("users.create") }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <input type="text" name="name" placeholder="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control"/>
                <small id="pwdreq" class="form-text text-muted">password must be at least 6 characters and have a combination of uppercase & lowercase letters, numerals and symbols</small>
            </div>
            <div class="form-group">
                <input type="password" name="confirmpwd" placeholder="Confirm Password" class="form-control"/>
                <small id="pwdreq" class="form-text text-muted">field must match password field</small>
            </div>
            <br>
            <button type='submit' class='btn btn-info btn-color w-100'>Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}