{% extends "_layout.html" %}
{% block content %}
<div class='mx-4 my-2'>
    <h3 class="header">New User</h3>
    <form action="{{ url_for("users.create") }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="enter your name..." class="form-control"/>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="enter your username..." class="form-control"/>
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" name="email" placeholder="enter your email..." class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="enter your password..." class="form-control"/>
            <small id="pwdreq" class="form-text text-muted">password must be at least 6 characters and have a combination of uppercase & lowercase letters, numerals and symbols</small>
        </div>
        <div class="form-group">
            <label for="confirmpwd">Confirm Password:</label>
            <input type="password" name="confirmpwd" placeholder="please confirm your password..." class="form-control"/>
            <small id="pwdreq" class="form-text text-muted">field must match password field</small>
        </div>
        <button type='submit' class='btn btn-info'>Sign Up</button>
    </form>
</div>
{% endblock %}