/*flash message*/
.error{
    background-color: rgb(230, 178, 195);
    color: firebrick;
    border-radius: 0;
  }
.success{
    background-color: papayawhip;
    color: rgb(63, 63, 68);
    border-radius: 0;
  }

/*fonts*/
#title{
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}
body{
    font-family: 'Ubuntu';
    background: -webkit-linear-gradient(to top,#f7f7f7,#353b3b);
    background: linear-gradient(to top,#f7f7f7,#353b3b)
}
.header{
    font-weight: 700;
    font-style: italic;
}
.errtext{
  color: rgb(148, 149, 151);
}
.text-placeholder{
  color: rgba(71, 71, 75, 0.623);
}
.btn-color{
  background-color:rgb(130, 211, 181);
  border: rgb(130, 211, 181);
  font-weight: bold;
}
.btn-color:hover{ 
  background-color:rgb(78, 163, 132);
}
.link-color{
  color: papayawhip;
  text-decoration: none;
}
.link-color:hover{
  text-decoration: none;
  color: white;
}

/*error page*/
#errpage{
  background-color: #E9E9E1;
  height: 87%;
  width: 100%;
}
.btn-err{
  background-color: rgb(163, 204, 235);
  border: rgb(163, 204, 235);
}
.btn-err:hover{
  background-color: rgb(126, 187, 233);
  border: rgb(126, 187, 233);
}
.link-to-home:hover{
  text-decoration: none;
  color: white;
}
.img-fit{
  object-fit: fill;
}

/*form container*/
.formContainer{
  height: 50%;
  width: 50%;
}
.heightContainer{
  height: 87%;
}

/*images*/
img{
  object-fit: cover;
}
.dp-pic{
  border: 3px solid gray;
  /* box-shadow: 0px 0px 0px 3px gray; */
}
.rm-padding{
  padding-left: 1px;
}

/*image file upload*/
#dp {
  border-radius: 10px;
  border: 3px solid lightgray;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn {
  border: 2px solid lightgray;
  color: gray;
  background-color: rgb(218, 247, 201);
  border-radius: 5px;
  font-weight: bold;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}