/*flash message*/
.error{
    background-color: rgba(248, 188, 207, 0.5);
    color: firebrick;
    opacity: 0.7;
    border-radius: 0;
  }
.success{
    background-color: papayawhip;
    color: rgb(63, 63, 68);
    opacity: 0.7;
    border-radius: 0;
  }

/*fonts*/
#title{
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}
body{
    font-family: 'Ubuntu';
}
.header{
    font-weight: 700;
    font-style: italic;
}
.errtext{
  color: rgb(148, 149, 151);
}
.btn-color{
  background-color:rgb(130, 211, 181);
  border: rgb(130, 211, 181);
  font-weight: bold;
}
.btn-color:hover{ 
  background-color:rgb(78, 163, 132);
}

/*error page*/
#errpage{
  background-color: #E9E9E1;
  height: 87%;
  width: 100%;
}
.btn-err{
  background-color: rgb(163, 204, 235);
  border: rgb(163, 204, 235);
}
.btn-err:hover{
  background-color: rgb(126, 187, 233);
  border: rgb(126, 187, 233);
}
.link-to-home:hover{
  text-decoration: none;
  color: white;
}

/*form container*/
.formContainer{
  height: 50%;
  width: 50%;
  /* display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black; */
}