/*flash message*/
.error{
    background-color: rgb(230, 178, 195);
    color: firebrick;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
  }
  .success{
    background-color: papayawhip;
    color: rgb(63, 63, 68);
    border-radius: 0;
    border-bottom: 1px solid lightgray;
  }

/*fonts*/
#title{
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}
body{
    font-family: 'Ubuntu';
    background: -webkit-linear-gradient(to top,#f7f7f7,#353b3b);
    background: linear-gradient(to top,#f7f7f7,#353b3b)
}
.header{
    font-weight: 700;
    font-style: italic;
    color: rgb(163, 157, 157);
}
.errtext{
  color: rgb(148, 149, 151);
}
.text-placeholder{
  color: rgba(71, 71, 75, 0.623);
}
.btn-color{
  background-color:rgb(130, 211, 181);
  border: rgb(130, 211, 181);
  font-weight: bold;
}
.btn-color:hover{ 
  background-color:rgb(78, 163, 132);
}
.link-color{
  color: papayawhip;
  text-decoration: none;
}
.link-color:hover{
  text-decoration: none;
  color: white;
}

/*error page*/
#errpage{
  background-color: #E9E9E1;
  height: 87%;
  width: 100%;
}
.btn-err{
  background-color: rgb(163, 204, 235);
  border: rgb(163, 204, 235);
}
.btn-err:hover{
  background-color: rgb(126, 187, 233);
  border: rgb(126, 187, 233);
}
.link-to-home:hover{
  text-decoration: none;
  color: white;
}
.titleerr{
  color: rgb(231, 95, 95);
  font-family: 'Leckerli One'
}

/*form container*/
.formContainer{
  height: 50%;
  width: 50%;
}
.heightContainer{
  height: 87%;
}

/*images*/
img{
  object-fit: cover;
}
.dp-pic{
  border: 3px solid gray;
  /* box-shadow: 0px 0px 0px 3px gray; */
}
@media(max-width:1000px){
  .resize{
    border: 3px solid gray;
    height: 150px;
    width: 150px;
  }
}
.rm-padding{
  padding-left: 1px;
}

/*image file upload*/
#dp {
  border-radius: 10px;
  border: 3px solid lightgray;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn {
  border: 2px solid lightgray;
  color: gray;
  background-color: rgb(218, 247, 201);
  border-radius: 5px;
  font-weight: bold;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*image display*/
#displayimg{
  border: 4px solid black;
  box-shadow: 0px 0px 10px 5px rgb(214, 212, 212);
}

/*donate*/
.btn-donate{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-donate:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 10px 5px rgb(241, 237, 237);
}

/*following*/
.btn-follow{
  background: rgb(120, 150, 248);
  color: white
}
.btn-follow:hover{
  background: rgb(171, 166, 240);
  box-shadow: 0px 0px 10px 5px rgb(212, 212, 214);
}
.btn-outline-follow{
  background: transparent;
  color: rgb(51, 73, 143);
  border-color: rgb(51, 73, 143);
}
.btn-outline-follow:hover{
  background: rgb(171, 166, 240);
  color: white;
  box-shadow: 0px 0px 10px 5px rgb(212, 212, 214);
}

/*count user items*/
.counter{
  height: 40px;
}

/*remove link hover effect*/
.link-rm{
  color: black;
}
.link-rm:hover{
  color: black;
  text-decoration-line: none;
}

/*requests*/
.requests{
  width: 400px;
}