{% extends "_layout.html" %}
{% block content %}
<div style="height:30px"></div>
<div class="container-fluid d-inline-flex flex-wrap justify-content-center align-items-center w-100 heightContainer">
    <div class="card w-50 mt-1">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{current_user.username}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Change Profile Picture</h6>
            <form action="{{ url_for('images.upload',user_id=current_user.id) }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="upload-btn-wrapper mr-5 mx-auto d-flex justify-content-center align-items-center mb-3" id="dp"/>
                    <img class="add-image" src="https://www.sccpre.cat/mypng/full/13-137282_computer-icons-camera-photography-area-text-png-add.png"/>
                    <input type="file" name="user_file" id="files"/>
                </div>
                <button class="btn btn-color text-light w-100" type="submit">Upload</button>
            </form>
            <button class="btn btn-danger w-100" type="submit">
                <a href="{{ url_for('sessions.profile',user_id=current_user.id)}}" class="link-color text-light font-weight-bold">Cancel</a>
            </button>
        </div>
    </div>
</div>
<script>
    const input_file = document.getElementById("files")
    input_file.addEventListener("change", function(){
        const file = this.files[0];
        if (file){
            const reader = new FileReader();
            const imagepath = URL.createObjectURL(file)
            reader.addEventListener("load", function(){
                document.getElementsByClassName("add-image")[0].style.display = "none";
                document.getElementById("dp").style.backgroundImage = `url(${imagepath})`;
            })
            reader.readAsDataURL(file)
        }
    })
</script>
{% endblock %}