{% extends "_layout.html" %}
{% block title %}
  404 Page Not Found
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">
    <div id="" class="d-inline-flex flex-wrap justify-content-center p-3">
        <img height=425px width=425px style="opacity:0.7" class="img-fit" src ="https://media3.giphy.com/media/VwoJkTfZAUBSU/giphy.gif"/>
        <p class="errtext w-100 text-center">But really though... the page you're looking for doesn't exist</p>
        <form>
          <button class="btn btn-danger btn-err" type="submit"><a class="text-light link-to-home" href="/">Return to Homepage</a></button>
        </form>
    </div>
</div>
{% endblock %}