{% extends "_layout.html" %}
{% block title %}
  500 Internal Server Error
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="errpage" class="d-inline-flex flex-wrap justify-content-center p-3">
    <h2 class="errtext w-100 text-center font-weight-bold">Uh-Oh...Something went wrong.</h2>
    <h4 class="errtext w-100 text-center" style="font-style:italic">We're digging for a solution...</h4>
    <img height=350px width=350px style="opacity:0.7" src ="https://media0.giphy.com/media/559srEnztPaZBNWinT/giphy.gif"/>
    <p class="errtext w-100 text-center">In the meanwhile ...... </p>
    <form>
      <button class="btn btn-danger" type="submit"><a class="text-light" href="/">Return to Homepage</a></button>
    </form>
</div>
{% endblock %}